/*
 Theme Name: Hello Child – Treinador David
 Theme URI: https://treinadordavid.com/
 Description: Child theme do Hello (Elementor) otimizado para posts do Gutenberg: Global Styles, variações por silo, patterns, performance e acessibilidade (WCAG 2.2). v1.2 inclui estilos "Q&A com Sargento" e "Cards Científicos".
 Author: Treinador David
 Author URI: https://treinadordavid.com/
 Template: hello-elementor
 Text Domain: hello-child-treinadordavid
 Version: 1.2.0
 License: GPL-2.0-or-later
 License URI: https://www.gnu.org/licenses/gpl-2.0.html
 Tags: blog, accessibility-ready, gutenberg, minimal, performance
*/


