name: Close issue/PR on adding invalid label

# **What it does**: This action closes issues that are labeled as invalid in the repo.

on:
  issues:
    types: [labeled]
  pull_request_target:
    types: [labeled]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  close-on-adding-invalid-label:
    if: |
      github.repository == 'github/copilot-cli' &&
      github.event.label.name == 'invalid' &&
      (
        github.event_name == 'issues' ||
        github.event.pull_request.head.repo.full_name == github.repository
      )
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Close issue
        if: ${{ github.event_name == 'issues' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUMBER: ${{ github.event.issue.number }}
          REPO: ${{ github.repository }}
        run: gh issue close "$NUMBER" --repo "$REPO"

      - name: Close PR
        if: ${{ github.event_name == 'pull_request_target' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUMBER: ${{ github.event.pull_request.number }}
          REPO: ${{ github.repository }}
        run: gh pr close "$NUMBER" --repo "$REPO"
