name: 'Marks stale issues and PRs'
on:
  schedule:
    - cron: '30 1 * * *' # 1:30 AM UTC

permissions:
  issues: write

jobs:
  stale:
    if: github.repository == 'github/copilot-cli'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/stale@28ca1036281a5e5922ead5184a1bbf96e5fc984e # v9.0.0
        with:
          stale-issue-label: 'stale, triage' # The label that will be added to the issues when automatically marked as stale
          start-date: '2025-01-01T00:00:00Z' # Skip stale action for issues created before it
          days-before-stale: 365
          days-before-close: -1 # If -1, the issues nor pull requests will never be closed automatically.
          days-before-pr-stale: -1 # If  -1, no pull requests will be marked as stale automatically.
          exempt-issue-labels: 'never-stale, help wanted' # issues labeled as such will be excluded them from being marked as stale
